<div class="card m-4" style="width: 18rem; margin-left: 50px;">
    <div class="card-header">
        <h4> Links</h4>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a href="/">Home</a>
        </li>
        <li class="list-group-item">
            <a href="/about">About</a>
        </li>
        <li class="list-group-item">
            <a href="/contact">Contact</a>
        </li>
    </ul>
</div>