<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="./img/mangsopa.jpeg" alt="Mang Sopa" class="img-thumbnail rounded-circle" width="200">
            <h1 class="diplay-4">Mangsopa</h1>
            <p class="lead">Teori | Learn | Practice</p>
        </div>
    </div>
</div>